Repository margaretmeehan/R-Tasks: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml, pipelines/r-version-build.yml, pipelines/r-version-release.yml

pipelines/install-pkg-build.yml:
  jobs:
  - template: templates/build.yml

pipelines/r-script-build.yml:
  jobs:
  - template: templates/build.yml

pipelines/r-version-build.yml:
  jobs:
  - template: templates/build.yml

pipelines/r-version-release.yml:
  stages:
  - template: templates/release.yml

Adding field name for clarity
  RPackagesTask/README.md
Due: pipelines/install-pkg-build.yml

Single quotes for consistency
  RPackagesTask/InstallRPackages/index.ts
Due: pipelines/install-pkg-build.yml

EOF new line
  RPackagesTask/InstallRPackages/tests/_suite.ts
Due: pipelines/install-pkg-build.yml

Updating default R version included on agent
  RScriptTask/README.md
Due: pipelines/r-script-build.yml

Adding more context for WIP task
  RVersionTask/README.md
Due: pipelines/r-version-build.yml, pipelines/r-version-release.yml

Adding code of conduct and license information
  LICENSE
  README.md
Due: none

Adding code of conduct and license information (#2)
  LICENSE
  README.md
Due: none

Removing WIP RVersion work
  README.md
  RVersionTask/README.md
  RVersionTask/Rlogo-small.png
  RVersionTask/UseRVersion/index.ts
  RVersionTask/UseRVersion/package-lock.json
  RVersionTask/UseRVersion/package.json
  RVersionTask/UseRVersion/rversion.ts
  RVersionTask/UseRVersion/task.json
  RVersionTask/UseRVersion/tests/_suite.ts
  RVersionTask/UseRVersion/tests/invalid-version-format.ts
  RVersionTask/UseRVersion/tests/success.ts
  RVersionTask/UseRVersion/tests/testutil.ts
  RVersionTask/UseRVersion/tests/unavailable-version.ts
  RVersionTask/UseRVersion/tsconfig.json
  RVersionTask/vss-extension.json
  pipelines/r-version-build.yml
  pipelines/r-version-release.yml
Due: pipelines/r-version-build.yml, pipelines/r-version-release.yml

Removing WIP RVersion work (#3)
  README.md
  RVersionTask/README.md
  RVersionTask/Rlogo-small.png
  RVersionTask/UseRVersion/index.ts
  RVersionTask/UseRVersion/package-lock.json
  RVersionTask/UseRVersion/package.json
  RVersionTask/UseRVersion/rversion.ts
  RVersionTask/UseRVersion/task.json
  RVersionTask/UseRVersion/tests/_suite.ts
  RVersionTask/UseRVersion/tests/invalid-version-format.ts
  RVersionTask/UseRVersion/tests/success.ts
  RVersionTask/UseRVersion/tests/testutil.ts
  RVersionTask/UseRVersion/tests/unavailable-version.ts
  RVersionTask/UseRVersion/tsconfig.json
  RVersionTask/vss-extension.json
  pipelines/r-version-build.yml
  pipelines/r-version-release.yml
Due: pipelines/r-version-build.yml, pipelines/r-version-release.yml

Removing automated release triggers for both tasks
  pipelines/install-pkg-release.yml
  pipelines/r-script-release.yml
Due: none

Restoring changes, master should result in release
  pipelines/install-pkg-release.yml
  pipelines/r-script-release.yml
Due: none

Removing reference to WIP UserRVersion
  pipelines/templates/validate-steps.yml
Due: none

Pausing task validate as there is no extension uploaded yet
  pipelines/templates/release.yml
Due: none

Removing master branch requirement for private publish
  pipelines/templates/release.yml
Due: none

Removing version query as this is the first private publish
  pipelines/templates/release.yml
Due: none

Removing fail condition - attempting first private publish
  pipelines/templates/release.yml
Due: none

Updating publisher in manifests
  RPackagesTask/vss-extension.json
  RScriptTask/vss-extension.json
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Updating publisher name
  RPackagesTask/vss-extension.json
  RScriptTask/vss-extension.json
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Restorying prod tasks
  pipelines/templates/release.yml
Due: none

changing extension name
  RPackagesTask/vss-extension.json
Due: pipelines/install-pkg-build.yml

Reverting name change
  RPackagesTask/vss-extension.json
Due: pipelines/install-pkg-build.yml

Testing new extension name
  RPackagesTask/vss-extension.json
Due: pipelines/install-pkg-build.yml

Restoring name change
  RPackagesTask/vss-extension.json
Due: pipelines/install-pkg-build.yml

Testing original credentials
  RPackagesTask/vss-extension.json
Due: pipelines/install-pkg-build.yml

Changing publisher back to desired
  RPackagesTask/vss-extension.json
Due: pipelines/install-pkg-build.yml

Restoring validation steps
  pipelines/templates/release.yml
Due: none

Restore Prod stage to require master source branch
  pipelines/templates/release.yml
Due: none

Replacing whitespace for consistency
  pipelines/templates/release.yml
Due: none

Updating to 1.0.0 public publish
  RPackagesTask/vss-extension.json
  RScriptTask/vss-extension.json
  pipelines/templates/release.yml
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Correcting branch name for current repo
  pipelines/install-pkg-build.yml
  pipelines/r-script-build.yml
Due: none

Releases should only be triggered from a change on master
  pipelines/install-pkg-release.yml
  pipelines/r-script-release.yml
Due: none

Keleung/release pipelines (#4)
  RPackagesTask/vss-extension.json
  RScriptTask/vss-extension.json
  pipelines/install-pkg-build.yml
  pipelines/install-pkg-release.yml
  pipelines/r-script-build.yml
  pipelines/r-script-release.yml
  pipelines/templates/release.yml
  pipelines/templates/validate-steps.yml
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Keleung/release pipelines (#4) (#5)
  RPackagesTask/vss-extension.json
  RScriptTask/vss-extension.json
  pipelines/install-pkg-build.yml
  pipelines/install-pkg-release.yml
  pipelines/r-script-build.yml
  pipelines/r-script-release.yml
  pipelines/templates/release.yml
  pipelines/templates/validate-steps.yml
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Adding repo information onto task manifest
  RPackagesTask/vss-extension.json
  RScriptTask/vss-extension.json
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Replacing common validate to break dependency
  pipelines/templates/release.yml
  pipelines/templates/validate-install-r-packages.yaml
  pipelines/templates/validate-run-r-script.yml
Due: none

Formatting readme and adding extension links
  README.md
  RPackagesTask/README.md
  RScriptTask/README.md
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Correcting file extension for consistency
  pipelines/templates/validate-install-r-packages.yml
Due: none

Utilizing template parameters and conditions
  pipelines/install-pkg-release.yml
  pipelines/r-script-release.yml
  pipelines/templates/release.yml
Due: none

Keleung/updating release process (#6)
  README.md
  RPackagesTask/README.md
  RPackagesTask/vss-extension.json
  RScriptTask/README.md
  RScriptTask/vss-extension.json
  pipelines/install-pkg-release.yml
  pipelines/r-script-release.yml
  pipelines/templates/release.yml
  pipelines/templates/validate-install-r-packages.yml
  pipelines/templates/validate-run-r-script.yml
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Keleung/updating release process (#6) (#7)
  README.md
  RPackagesTask/README.md
  RPackagesTask/vss-extension.json
  RScriptTask/README.md
  RScriptTask/vss-extension.json
  pipelines/install-pkg-release.yml
  pipelines/r-script-release.yml
  pipelines/templates/release.yml
  pipelines/templates/validate-install-r-packages.yml
  pipelines/templates/validate-run-r-script.yml
Due: pipelines/install-pkg-build.yml, pipelines/r-script-build.yml

Path conditions:
  pipelines/install-pkg-build.yml: any of: RPackagesTask
  pipelines/r-script-build.yml: any of: RScriptTask
  pipelines/r-version-build.yml: any of: RVersionTask
  pipelines/r-version-release.yml: any of: RVersionTask
